<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: auto;
        }

        li {
            background-color: #fff;
            margin: 10px 0;
            padding: 15px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            transition: background-color 0.3s;
        }

        li:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Notification</h2>
        <ul id="notification-list">

        </ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
        let notifications = document.getElementById('notification-list');

        socket.on('user', notif => {
            notif.forEach(element => {
                let item = document.createElement('li');
                item.innerHTML = `<b>${element.message}</b>`;
                notifications.appendChild(item);
            });
        });

    </script>
</body>

</html>